<button data-test-counter-increment type="button" {{action 'increment'}}>+</button>
<button data-test-counter-decrement type="button" {{action 'decrement'}}>-</button>

<br />
<br />

Number of clicks: <span data-test-counter-numclicks>{{numClicks}}</span>
